<header class="header">
    <nav>
      <div class="wrapper">
        <div class="logo">
        </div>
        <h1>KIE</h1>
        <a href="https://blog.kie.org" target="_blank">Blog</a>
        <!-- <a href="blog.html" target="_blank">Blog</a> -->
        <a href="/project/kogito" >Kogito</a>
        <a href="/project/drools" >Drools</a>
        <a href="/project/jbpm" >JBPM</a>
        <a href="/project/optaplanner" >Optaplanner</a>
        <a href="#" class="responsive-menu-button">☰</a>
      </div>
    </nav>
  </header>


	<div id="responsive_menu">
    <ul>
      <li>
        <a href="#" class="responsive-menu-button close-button">✕</a>
        <h4>
          KIE websites
        </h4>
        <ul>
          <li><a href="http://blog.kie.org">Blog</a></li>
          <li><a href="https://kogito.kie.org">Kogito</a></li>
          <li><a href="http://www.drools.org">Drools</a></li>
          <li><a href="http://www.jbpm.org/">JBPM</a></li>
          <li><a href="http://www.optaplanner.org">Optaplanner</a></li>
        </ul>
      </li>
    </ul>
  </div>
